.profile{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.profile-header{
    border-bottom: 1px solid #aaa;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.posts-wrapper{
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    padding: 1rem;
}

.post-card{
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 2rem 0rem;
}

.post-card-unpublished {
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 2rem 0rem;
    border: 1px solid red;
}

.post-card:hover{
    box-shadow: 1px 4px 8px 1px #0002;
}

.post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.post-body p{

    background-color: #fafafa;
    padding: 0.5rem;
}